{% extends 'wrapper.html' %}

{% block title %}
    Authorisation
{% endblock title %}

{% block wrap %}
    <div class="sign-auth">
    <h1>New user</h1>
    <form action="" class="signin" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock wrap %}