{% extends 'home_wrapper.html' %}

{% block content %}
    <div class="profile">
        <div id="username">
            <h1>{{ user.get_name() }}</h1>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% if is_success %}
                <div class="alert alert-success" role="alert">
                    Success
                </div>
            {% endif %}
            {{ form.about.label }}<br>
            {{ form.about }}<br>

            {{ form.links.label }}<br>
            {{ form.links }}<br>

            {{ form.submit() }}  {{ form.cancel() }}
        </form>
    </div>
{% endblock content %}