{% extends 'home_wrapper.html' %}

{% block content %}
    <p>Добро пожаловать на сайт <i>English Easy</i>!</p>
    <p>Здесь вы сможете выполнять задания на знание английского языка.</p>
    <p>Навигация:</p>
    <p>
        <strong>Home</strong> переводит вас на эту страницу<br>
        <strong>Tests</strong> переводит вас на страницу, где вы сможете выполнять тесты в разных режимах<br>
        <strong>Test Editor</strong> переводит вас на страницу c редактаром заданий (доступно только учителям)<br>
        * условия получения статуса учителя будет рассмотрено ниже<br>
        <strong>Profile</strong> переводит вас на страницу профиля, где вы сможете изменить информацию о себе<br>
        <strong>Log out</strong> - выход из системы
    </p>
    <br>
    <p>
        Для получения статуса учителя вам нужно обрадиться к администратору на e-mail: <i>english.eazy2048@gmail.com</i>.
        Вам нужно подтвердить ваше высшее образование.
        После этого вы будете иметь возможность создавать и редактировать вопросы.
    </p>
{% endblock content %}