{% extends 'wrapper.html' %}

{% block title %}
    English Easy
{% endblock title %}

{% block wrap %}
    <nav class="navbar tab">
        <span class="nav-item"><a href="/home" >Home</a></span>

        <span class="nav-item"><a href="/tests" >Tests</a></span>

        <span class="nav-item"><a href="/test_editor" >Test Editor</a></span>

        <span class="nav-item"><a href="/profile/{{ user.id }}" >Profile</a></span>

        <span class="nav-item"><a href="/log_out">Log out</a></span>
    </nav>
    {% block content %}{% endblock content %}
{% endblock wrap %}