{% extends 'home_wrapper.html' %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="container-fluid">
            <h3>{{ test.question }}</h3>
            {% for err in form.answer.errors %}
                <div class="alert alert-danger">{{ err }} {{ right_answers }}</div>
                <p>
                    {{ test.explanation }}
                </p>
            {% endfor %}
            {% if not form.answer.errors and next %}
                <div class="alert alert-success">Right, allowed answers: {{ right_answers }}</div>
            {% endif %}
        </div>
        <br>
        {{ form.answer.label }}:  {{ form.answer }}<br>
        <br>
        {% if not next %}
            {{ form.submit() }}
        {% else %}
            {{ form.next() }}
        {% endif %}
    </form>
{% endblock content %}